---

name: CI
on:
  pull_request:
  push:
    branches:
      - main
jobs:
  ok:
    runs-on: ubuntu-24.04
    needs:
      - lint
      - build
    if: failure()
    permissions: {}
    steps:
      - run: exit 1
  lint:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: lint
        uses: reviewdog/action-golangci-lint@f9bba13753278f6a73b27a56a3ffb1bfda90ed71 # v2.8.0
  build:
    strategy:
      matrix:
        go_version:
          - stable
          - oldstable
        os:
          - ubuntu-24.04
      fail-fast: false
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version: ${{ matrix.go_version }}
      - name: test
        run: go test ./...
